body{

    background-image: url(images/purple-background.jpg);
    background-color: #cccccc; 

}



#MainDiv{

    display: grid;
    justify-content: center;
    align-items: center;
}


#MainDiv header{


    
    max-width: 520px; 
    min-width: none;
    text-align: center;

}

a{
    text-decoration: none;
    padding:  10px;
    color: black;

}

a:hover{

    font-size: 1.1em;
    
}

img{

    width: 450px;
    margin-left: 20px;
}

footer{


    background-color: mediumpurple;
    max-width: 520px; 
    min-width: none;


}

footer div{

    margin-left: 10px;

}